body{
  background:url(http://chat.gitcafe.com/assets/black_linen_v2-a635549376d4ec493364e305e3c3f580.png);
  font-family:ubuntu;
}
.navbar .navbar-inner{
  font-weight:bold;
  background-color:#f9f9f9;
}
.navbar .brand{
  font-weight:bold;
  font-size:25px;
  text-shadow:none;
}
#navbar-user{
  border:0;
}
.notifications{
  background:#f9f9f9;
}
.notifications .header{
  background-color:#f9f9f9;
  color:#333;
  font-weight:bold;
  text-align:center;
}
.notifications .header .arrow-down{
  border-top:10px solid #f9f9f9;
  right:70px;
}
.title{
  font-weight:bold;
  font-size:20px;
  /*margin-bottom: 10px;*/
  padding: 10px;
}
.page-header{
  border-radius:2px;
  box-shadow:0px 3px 0px 0px black;
}
.btn.btn-primary{
  background:rgb(255,151,37);
  font-weight:bold;
}
.btn.btn-primary:hover {
  background:#DF5919;
}
.dashboard{
  color: rgb(239, 239, 239);
}
.dashboard-catogories{
  text-align: center;
  padding: 1em;
}
.dashboard-catogories ul li a{
  color: rgb(239, 239, 239);
}
.dashboard-catogories ul li a:hover {
  background-color: rgb(239, 239, 239);
  color: black
}
.dashboard-list{
  padding: 1em;
}
.dashboard-list .btn{
  margin-left: .5em;
}
.dashboard-list .btn i{
  margin-right: .2em;
}
.dashboard-list img{
  margin-right: .2em;
  vertical-align: top;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
#search-input{
  display:none;
}
