body{
  background:url(../../assets/black_linen_v2.png);
  font-family:ubuntu;
}
#topic-view{
  color: rgb(239, 239, 239);
}
.users {
  border-left: none;
}
.topics{
  padding: 0;
  border-right: none;
}
.topics-list{
  text-align: center;
  padding: 1em;
    margin: 0;
}
.topics-list ul li a{
  color: rgb(239, 239, 239);
}
.topics-list ul li a:hover {
  background-color: rgb(239, 239, 239);
  color: black
}
.topics-list ul li.active a:hover {
  background-color: rgb(239, 239, 239);
  color: black
}
.topics-list ul li.active a:hover {
  background-color: rgb(239, 239, 239);
  color: black
}
.text-right{
  text-align: right;
}
.topics, .chat-box, .users {
  background: rgba(0,0,0,0);
}
.topics .topic-list li.active {
  background: rgba(0,0,0,0);
}
.topics #topic-new-btn {
  padding: auto;
  width: auto;
  background: gb(255,151,37);
}
#topic-list-nav.pager{
  margin: auto;
}
#topic-list-nav.pager li {
  margin: auto 5px;
}
#topic-new-btn {
  position: absolute;
  left: 150px;
  margin-left: auto;
  padding-top: 1px !important;
}
#topic-new-btn {
  position: absolute;
  left: 150px;
  margin-left: auto;
  padding-top: 1px !important;
  color: rgb(255,151,37);
}
#topic-new-btn:hover {
  color: #DF5919;
}
#topic-list-nav button a {
  color: rgb(239, 239, 239);
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6,
.markdown p, .markdown span, .markdown li{
  color: rgb(239, 239, 239);
}
.editor-preview {
  background: rgba(150,150,150,0.1) !important;
}
#topic-view .users {
  position: absolute;
  right: 0;
  height: auto;
}
.chat-box #comments li {
  border-bottom: 1px solid #1C1C1C;
}
.chat-box #comment-new-form .form-actions {
  border-bottom: none;
}
form {
  margin: 0;
}
.users .members-online-count .arrow-down {
  border-top:10px solid #666666;
}
.users .members-online-count{
  background-color: #666666;
}
.btn, .btn:hover, .btn:focus, .btn-group:focus .btn.dropdown-toggle {
  color: rgb(239, 239, 239);
}
.btn.btn-primary {
  background-color: #1abc9c;
}
